@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Poppins:wght@100;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');

:root{
    --red:#ff0000;
    --white:#F9F6EE;
    --light-color:#FEF8DD;
    --box-shadow:.5rem .5rem 0 rgba(22,103,133,.2);
    --text-shadow:.4rem .4rem 0 rgba(0,0,0,.2);
    --border:.2rem solid var(--#f7f7f7);

} 

*{
    font-family: 'Merriweather', serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-transform:capitalize ;
    transition: all.2s ease-out;
    text-decoration: none;
    
}

html{
    font-size: 63%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}
body{
    background-color: #04081a;
}

.header{
     padding: 12px 50px 5px 0px;
     position:fixed;
     top: 0; left: 0;right: 0;
     z-index: 1000;
     display: flex;
     align-items:center;
     /*box-shadow: 1rem 0.5rem var(--red);*/
     justify-content: space-between;
    
    }

.header .logo{
    width: 166px;
    height: 160px;
}
.header .City{
    font-family: 'Ultra', serif;
    font-size: 0.8in;
    color: #ff0000;
    padding-inline: 55px;
    text-decoration: none;
    text-shadow: #000e40;
}
.header .navbar{
    font-style: normal;
    font-family: fangsong;;
}
.header .navbar a:hover{
    -webkit-text-stroke: 2px #68fa07;
    color: transparent;
}

.header .navbar a{
    font-size: 2.3rem;
    color: #fc0404;
    margin-left: 2rem;
    font-family: fangsong;
    text-decoration: none;
    transition: 0.3ms;
    font-weight: 700;
}


.home{
    gap: 6rem;
}
#imager figure{
    position:absolute;
    width: 500%;
    height: 2300mm;
    margin: 0;
    left: 0;
    animation: 20s imager infinite;
}
#imager figure img{
    float: left;
    width: 20%;
    height: 11%;
}
@keyframes imager{
    0%{
        left:0%
    }
    20%{
        left:0%
    }
    25%{
        left:-100%;
    }
    45%{
        left:-100%;
    }
    50%{
        left: -200%;
    }
    70%{
        left:-200%;
    }
    75%{
        left:-300%;
    }
    95%{
        left:-400%;
    }
    100%{
        left: -400%;
    }
    105%{
        left: -400%;
    }
}


.content{
    position:absolute;
    padding: 10px 150px 200px 5px;
    display: flex;
    justify-content: flex-start;
    padding-top: 15rem;
    gap: 2rem;
    align-content: space-around;
    flex-wrap: wrap;
    align-items: stretch;
}
.content h1{
    padding: 300px 188px 0px 200px;
    font-size: 8rem;
    font-family: 'Concert One', cursive;
    font-weight: bold;
    color:#fa072f;
    padding-top: 192px;
} 
.content p{
    padding-left: 200px;
    text-align: justify;
    padding-right: 100px;
    font-size: 20px;
    font-weight: bold;
    padding-right: 360px;

}
.back{
    padding-left: 200px;
    padding-top: 709px;
    position: absolute;
}
.back a{
    
    font-size: 20px;
    text-size-adjust: 10px;
    display: inline-block;
    color: rgb(8, 247, 0);
    border: 3px solid rgba(252, 0, 0, 0.979);
    padding: 5px 25px;
    border-radius: 500px;
    background-color:rgb(255, 0, 0);
    font-family: 'poppins',sans-serif;
    font-weight: bold;
    text-decoration: none;
    transition: 0.2ms;

}
.back a:hover{
    -webkit-text-stroke: 2px #fa072f;
    color: transparent;
} 

.login{
    position:relative;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));
    padding-top: 89rem;
    padding-bottom: 13rem;
    padding-left: 7rem;
    padding-right: 92px;
}
.login .icons{
     background-color:var(--white) ;
     border:6px solid red;
     /*box-shadow:var(--red);*/
     border-radius: 12.5rem;
     text-align: center;
     padding: 9.5rem;
     gap: 5rem;
     padding-bottom: 68px;
     padding-top: 60px;
     padding-right: 91px;
     

}

.login .icons img{
    width: 185px;
    height: 154px;
    color: var(--red);
    padding: 0px 13px 12px 12px;
}
.login .icons h2{
    text-align: center;
    color: red;
    font-size: 1cm;
    padding-top: 8px;
    font-weight: bold;
    padding-bottom: 10px;
}
.login .icons a{

    font-family: 'poppins',sans-serif;
    text-decoration: none;
    font-size: 21px;
    border-radius: 39.5px;
    text-align: center;
    border: 2px solid red;
    background-color: #020000;
    font-weight: 600 ;
    padding-top: 1px;
    gap: 85rem;
    color: #ffffff;
    transition: 0.2ms;
}
.login .icons a:hover{
    -webkit-text-stroke: 2px #6cfa0d;
    color: transparent;
}
.login .icons a span{
    color: rgb(0, 0, 0);
}
.about .row .media-about .aboutus{
    padding-top: 140px;
}
.about .row .media-about .aboutus h3{
    position: absolute;
    padding-left: 1314px;
    color: #fa072f;
    padding-top: 141px;
    font-size: 29px;
    font-weight: bold;
}

.about .row .media-about .aboutus p1{
    position: absolute;
    color: #fffefe;
    font-size: 18px;
    padding-left: 979px;
    padding-top: 221px;
    text-align: justify;
    padding-right: 84px;


}
.about .row .media-about .aboutus p2{
    position: absolute;
    color: #fffefe;
    font-size: 18px;
    padding-left: 1060px;
    padding-top: 487px;
    text-align: justify;
    padding-right: 84px;

}
.about .row .media-about .image{
    padding-top: 16px;
    padding-left: 35px;
    padding-right: 1034px;
    border: 8px solid red;
    margin: 45px;
    border-radius: 72px;
    padding-bottom: 20px;
}


.services h1{
    position: absolute;
    padding-top: 2cm;
    padding-left: 21cm;
    font-size: 52px;
    font-weight: bold;
    color: red;
    text-align: center;
    padding-right: 722px;
}

.services h1 span{
    color: #68fa07;

}

.services .service-con{
    padding-top: 204px;
    margin-top: 270px;
    padding-bottom: 63px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(46rem,1fr));
    gap: 5rem;
    padding-right: 59px;
    padding-left: 72px;
}

.services .service-con .boxservice{
    background: #fffefe;
    border-radius: 6.5rem;
    box-shadow: var(--box-shadow);
    border: 8px solid var(--red);
    padding: 4.5rem;
}

.services .service-con .boxservice i{
    color: var(--red);
    font-size: 6rem;

}

.services .service-con .boxservice h3{
    color: var(--black);
    font-size: 3rem;
    font-weight: 600;
}

.services .service-con .boxservice p{
    color: var(--black);
    font-size: 12px;
    line-height: 1.5;
    text-align: justify;
    font-weight: bold;
    margin-bottom: -23px;
}

.DOCTORS h1{
    position: absolute;
    padding-top: 2cm;
    padding-left: 21cm;
    font-size: 52px;
    font-weight: bold;
    color: red;
    text-align: center;
    padding-right: 722px;
}

.DOCTORS h1 span{
    color: #68fa07;

}

.DOCTORS .doctor-con{
    padding-top: 204px;
    margin-top: 270px;
    padding-bottom: 63px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(46rem,1fr));
    gap: 5rem;
    padding-right: 59px;
    padding-left: 72px;

}
.DOCTORS .doctor-con .doctorbox{
    background: #fffefe;
    border-radius: 6.5rem;
    box-shadow: var(--box-shadow);
    border: 8px solid var(--red);
    padding-left: 54px;
    padding-top: 39px;
    padding-right: 35px;
    padding-bottom: 12px;
}

.DOCTORS .doctor-con .doctorbox img{
    color: var(--red);
    font-size: 127rem;
    width: 434px;
    height: 369px;
    border: var(--border);
    border-radius: 37.5px;
}


.DOCTORS .doctor-con .doctorbox  h3{
    color: var(--black);
    font-size: 3rem;
    font-weight: 600;
    text-align: center;

}
.DOCTORS .doctor-con .doctorbox span{
    color: var(--black);
    font-size: 2rem;
    text-align: center;
    padding-left: 96px;
    font-weight: bold;

}

.DOCTORS .doctor-con .doctorbox .share{
    text-align: center;
    padding-left: 0px;
    font-weight: bold;
    text-decoration: none;
}

.DOCTORS .doctor-con .doctorbox .share a{
    height: 2rem;
    width: 9rem;
    line-height: 6.5rem;
    font-size: 3rem;
    color: var(--red);
    border-radius: 1.5rem;
    border: 3px solid red;
    margin: 0.3rem;
    text-decoration: none;
    padding-right: -7px;
    padding-bottom: 61px;
}

.review h1{
    position: absolute;
    padding-top: 2cm;
    padding-left: 19cm;
    font-size: 52px;
    font-weight: bold;
    color: red;
    text-align: center;
    padding-right: 570px;

}

.review h1 span{
    color: #68fa07;

}

.review .review-con{

    padding-top: 204px;
    margin-top: 270px;
    padding-bottom: 63px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(46rem,1fr));
    gap: 5rem;
    padding-right: 59px;
    padding-left: 72px;
}

.review .review-con .reviewbox{
    background: #fffefe;
    border-radius: 6.5rem;
    box-shadow: var(--box-shadow);
    border: 8px solid var(--red);
    padding-left: 54px;
    padding-top: 39px;
    padding-right: 35px;
}
.review .review-con .reviewbox img{
    color: var(--red);
    font-size: 127rem;
    width: 434px;
    height: 322px;
    border: var(--border);
    border-radius: 37.5px;

}
.review .review-con .reviewbox h3{
    color: var(--black);
    font-size: 3rem;
    font-weight: 600;
    text-align: center;

}
.review .review-con .reviewbox .stars{
    text-align: center;
    padding-left: 0px;
    font-weight: bold;
    text-decoration: none;
    line-height: 1.5rem;
    font-size: 16px;
    color: red;
    padding-bottom: 12px;

}

.review .review-con .reviewbox  .text{
    text-align: justify;
    font-size: 14px;
    line-height: 2rem;
    color: #020000;
    padding-bottom: 12px;
    font-weight: bold;
}

.blog h1{
    position: absolute;
    padding-top: 2cm;
    padding-left: 21cm;
    font-size: 52px;
    font-weight: bold;
    color: red;
    text-align: center;
    padding-right: 722px;
}

.blog h1 span{
    color: #68fa07;

}

.blog .blog-con{
    padding-top: 204px;
    margin-top: 270px;
    padding-bottom: 63px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(46rem,1fr));
    gap: 5rem;
    padding-right: 59px;
    padding-left: 72px;

}

.blog .blog-con .blogbox{
    background: #fffefe;
    border-radius: 6.5rem;
    box-shadow: var(--box-shadow);
    border: 8px solid var(--red);
    padding-left: 34px;
    padding-top: 39px;
    padding-right: 35px;
}

.blog .blog-con .blogbox .image{
    height: 35rem;
    overflow: hidden;
    border-radius: 1.5rem;
}

.blog .blog-con .blogbox .image .img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.blog .blog-con .blogbox:hover .image .img{
    transform: scale(1.2);
}

.blog .blog-con .blogbox .contents{
    padding-top: 1rem;
}

.blog .blog-con .blogbox .contents .icon{
    padding: 4px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;

}
.blog .blog-con .blogbox .contents .icon a{
    text-decoration: none;
    color: #020000;
}
.blog .blog-con .blogbox .contents .icon a i{
    text-decoration: none;
    color: #ff0000;
}
.blog .blog-con .blogbox .contents h3{
    font-weight: bold;
    line-height: 1px;
    padding: 16px 0px;
    font-size: 26px;
}
.blog .blog-con .blogbox .contents p{
    font-weight: bold;
    text-align: justify;
    font-size: 12px;
    padding-bottom: 4px;
    line-height: 18px;

}
.footers{
    padding-top: 204px;
    margin-top: 190px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(35rem,1fr));
}

.footers .footer-con .footerbox{
    background: #fffefe;
    border-radius: 6.5rem;
    box-shadow: var(--box-shadow);
    border: 8px solid var(--red);
    padding-left: 34px;
    padding-top: 39px;
    padding-right: 35px;
}

.contact .row .media-about .aboutus{
    padding-top: 95px;
}
.contact .row .media-about .aboutus h3{
    position: absolute;
    padding-left: 1314px;
    color: #fa072f;
    padding-top: 141px;
    font-size: 29px;
    font-weight: bold;
}

.contact .row .media-about .aboutus p1{
    position: absolute;
    color: #fffefe;
    font-size: 18px;
    padding-left: 979px;
    padding-top: 221px;
    text-align: justify;
    padding-right: 84px;


}
.contact .row .media-about .aboutus .feed a{
    position: absolute;
    font-size: 24px;
    padding-left: 17px;
    padding-top: 6px;
    text-align: justify;
    padding-right: 18px;
    border: 5px solid red;
    margin-left: 981px;
    margin-top: 496px;
    border-radius: 36px;
    padding-bottom: 8px;
    color: red;
    font-weight: 900;

}
.contact .row .media-about .image{
    padding-top: 45px;
    padding-left: 35px;
    padding-right: 1034px;
    border: 8px solid red;
    margin: 45px;
    border-radius: 72px;
    padding-bottom: 20px;
    height: 673px;

}

.contact .row .media-about .image img{
    vertical-align: middle;
    width: 22cm;
    height: 15cm;
    font-family: 'poppins',sans-serif;
    text-decoration: none;
    font-size: 21px;
    border-radius: 39.5px;
    text-align: center;
    border: 2px solid red;
    background-color: #020000;
    font-weight: 600 ;
    padding-top: 1px;
    gap: 85rem;
    color: #ffffff;
    transition: 0.2ms;
}






/*media queries*/
@media(max-width:991px){
    html{
        font-size: 65%;
    }
    .header{
        padding: 2rem;
    }
}

@media(max-width:250px){
    html{
        font-size: 45%;
    }
    
}